


<div *ngIf="isAuthenticated$ | async as isAuthenticated">

  <button class="btn btn-primary" type="button" (click)="callApi()" [disabled]="httpRequestRunning">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!httpRequestRunning" ></span>
    Request Data
  </button>

  <br/><br/>

  Is Authenticated: {{ isAuthenticated }}

  <br/><br/>

  <div class="card">
    <div class="card-header">Data from API using an Application API</div>
    <div class="card-body">
      <pre>{{ dataFromAzureProtectedApi$ | async | json }}</pre>
    </div>
  </div>

</div>

